# bla bla bla tekst

In [1]:
name = "NAME"
name.lower
print(name)

NAME

In [2]:
print("hello world!")

hello world!

In [21]:
print(6047000e-3)

6047.0

In [22]:
a = 6047
b = 0b1011110011111
c = 0o13637
d = 0x179f
e = 6047.0
f = 6047000e-3
print(a,b,c,d,e,f)

6047 6047 6047 6047 6047.0 6047.0

In [2]:
a = "derp"
b = a
print(b)

derp

In [4]:
a = "derp2"
print(b)

derp

In [1]:

zip(["test","test2"],0)

TypeError: 'int' object is not iterable

In [1]:
a = ["circle","square","triangle"]
b = "circle"
if b in a:
    print("hepp")

dir(a)

hepp

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [9]:
print(a.__dir__.__name__)

__dir__

In [3]:
! cmd

^C

In [12]:
a = 1000
b = -10.5
c = a + a * b / 100
print(c)

895.0

In [14]:
import random as rand
import pandas as pd



def pricewithfluctuation(price,fluctfrom,fluctto):
    return round(( price + (price*rand.uniform(fluctfrom,fluctto)/100)),2)



f = pd.DataFrame(columns= ["Name","Price at Kiwi","Price at Rema","Price at Prix","Price at Bunnpris"])
with open("fooditems.txt", "r") as file_in:
    for item in file_in:
        name = item.removesuffix("\n")
        price = rand.randint(25,100) 
        kiwiprice = pricewithfluctuation(price,-5,10)
        remaprice = pricewithfluctuation(price,-5,10)
        prixprice = pricewithfluctuation(price,-5,10)
        bunnprisprice = pricewithfluctuation(price, 0,10)
        f = f.append({"Name": name,"Price at Kiwi":kiwiprice,"Price at Rema":remaprice,"Price at Prix":prixprice,"Price at Bunnpris":bunnprisprice}, ignore_index=True)

print(f)

                                                Name  Price at Kiwi  \
0                          Geitmelk, langtidsholdbar         103.96
1                    Helmelk, 3,5 % fett, laktosefri          36.39
2                          Helmelk, 3,5 % fett, Tine          36.53
3                   Helmelk, 3,9 % fett, Q-meieriene          62.79
4        Lettmelk, 0,5 % fett, vitamin D, laktosefri          43.68
...                                              ...            ...
1902            Sinlac spesialgrÃ¸t, pulver, NestlÃ©          43.48
1903         Sinlac spesialgrÃ¸t, spiseklar, NestlÃ©          45.08
1904        Tilskuddsblanding, fra 6 mnd, drikkeklar          35.61
1905  Tilskuddsblanding, fra 6 mnd, ferdig utblandet          79.11
1906            Tilskuddsblanding, fra 6 mnd, pulver          74.66

      Price at Rema  Price at Prix  Price at Bunnpris
0             99.95         101.37             105.86
1             38.97          38.46              39.82
2             37.95          39.19              40.84
3             65.76          65.50              63.68
4             41.25          40.91              40.60
...             ...            ...                ...
1902          47.76          46.23              48.11
1903          38.98          43.20              43.35
1904          31.90          33.89              34.80
1905          77.73          70.25              78.49
1906          66.53          75.64              73.03

[1907 rows x 5 columns]