# Assignment 4.2: Working with Data
# Grouping data 👥 and applying aggregations 💹
In this lesson we will be learning how to group data around a common factor and then applying aggragates to derive information

### Objective 1: Lock and load
For the majoirty of this assignment we will be using the cleaned data set from `Sales_September2019.xlsx`. 

Import pandas as `pd` and then read in our spreadsheet into a variable called `df`. Render `df` to the notebook and observe the output, take note of the column names and the content of the rows.

In [15]:
import pandas as pd

df = pd.read_excel("Sales_September2019.xlsx")
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,248151,AA Batteries (4-pack),4,3.84,09/17/19 14:44,"Storgata 33, 4307, Sandnes"
1,248152,USB-C Charging Cable,2,11.95,09/29/19 10:19,"Steinkleiva 4, 4631, Kristiansand"
2,248153,USB-C Charging Cable,1,11.95,09/16/19 17:48,"Munkegata 23, 7011, Trondheim"
3,248154,27in FHD Monitor,1,149.99,09/27/19 07:52,"Steinkleiva 4, 4631, Kristiansand"
4,248155,USB-C Charging Cable,1,11.95,09/01/19 19:03,"Dronningens Gate 5, 0154, Oslo"
...,...,...,...,...,...,...
11624,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"Arne Svendsens Gate 1, 1610, Fredrikstad"
11625,259354,iPhone,1,700.00,09/01/19 16:00,"Munkegata 23, 7011, Trondheim"
11626,259355,iPhone,1,700.00,09/23/19 07:39,"Storgata 33, 4307, Sandnes"
11627,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"Storgata 33, 4307, Sandnes"
11628,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"Steinkleiva 4, 4631, Kristiansand"

### Objective 2: Grouping the orders
Create a GroupBy object using `Order ID` as the common grouping data point (key). Use this group to determine how many items were sold per order.

*Hint: A summation would be a good indicator here*

In [16]:
# How many items were sold for each order?
itemssold = df["Quantity Ordered"].groupby(df["Order ID"])
itemssold.sum()

Order ID
248151    4
248152    2
248153    1
248154    1
248155    1
         ..
259353    3
259354    1
259355    1
259356    1
259357    1
Name: Quantity Ordered, Length: 11207, dtype: int64

### Objective 3: Counting the coins!
Add a new column called `Profit`. This column is calculated by multiplying the values from `Quanitity Ordered` with `Price Each`. Then use the sum aggregrate to determine the total profit made for this month.

In [33]:
# What was the total monthly profit made in September?
df["Profit"] = df["Quantity Ordered"] * df["Price Each"]
print(f"This months profit: {round(df['Profit'].sum(),2)}")

This months profit: 2098816.7

### Objective 4: Taking stock
Create a GroupBy object using `Product` as the common key. Use this group to determine how much profit was made per product; then filter the result to only show the profits of items over `100 000 NOK`.

In [68]:
# What was items made over 100 000 NOK in sales this month?
stock = df["Profit"].groupby(df["Product"]).sum()
stock[stock > 100000]

Product
27in 4K Gaming Monitor      148976.18
34in Ultrawide Monitor      143636.22
Apple Airpods Headphones    145200.00
Google Phone                205200.00
Macbook Pro Laptop          489600.00
ThinkPad Laptop             248997.51
iPhone                      278600.00
Name: Profit, dtype: float64

#### 🔍 Bonus question
What was **the** most profitable item?

In [69]:
# Most the profitable item in September
stock[stock == stock.max()]

Product
Macbook Pro Laptop    489600.0
Name: Profit, dtype: float64

### Objective 5: Average consumption
Create a new grouping using `Order ID`. Use this group to deteremine the average number of items sold and the average profit made per order.

In [88]:
# On average, how many items were sold per order and how much profit was made?
average = df[["Quantity Ordered","Profit"]].groupby(df["Order ID"]).sum().mean()
average

Quantity Ordered      1.170608
Profit              187.277300
dtype: float64

### Objective 6: Extracting new data
A useful statistic to observe is how busy each day of the month was. Luckily each transaction date was recorded, but this includes a time value which would make grouping difficult. It is possible to extract only the date from `Order Date` with a little bit of string manipulation. Do this, and create a new column called `Date Only`. 

*Hint: You will need to use list comprehension*

In [93]:
# Seperate only date from Order Date
df["Date Only"] = [ date[:8] for date in df["Order Date"]]

### Objective 7: Busyness
Create a new grouping using `Date Only` as the key, and extract all the `Order ID` values per date. Then use the `nunique()` aggregation to determine how many unqiue orders were placed each day.

In [94]:
# How many orders were placed every day?
ordersperday = df["Order ID"].groupby(df["Date Only"]).nunique()
ordersperday

Date Only
09/01/19    361
09/02/19    381
09/03/19    364
09/04/19    369
09/05/19    347
09/06/19    381
09/07/19    356
09/08/19    360
09/09/19    383
09/10/19    379
09/11/19    385
09/12/19    374
09/13/19    383
09/14/19    390
09/15/19    392
09/16/19    363
09/17/19    386
09/18/19    369
09/19/19    389
09/20/19    378
09/21/19    363
09/22/19    352
09/23/19    373
09/24/19    376
09/25/19    341
09/26/19    375
09/27/19    404
09/28/19    356
09/29/19    397
09/30/19    363
10/01/19     17
Name: Order ID, dtype: int64

### Objective 8: How about the cities?
Repeat objective 6 & 7 but instead extract the city name from `Purchase Address` and then determine how many orders unique orders were placed in every city. Name the extracted city name column as `City`.

*Hint: Consider using string.split(',')*

In [97]:
# How many orders were placed in every city?

df["City"] = [address.split(",")[2] for address in df["Purchase Address"]]
orderspercity = df["Order ID"].groupby(df["City"]).nunique()
orderspercity

City
 Bergen          1631
 Fredrikstad     1643
 Kristiansand    1676
 Oslo            1623
 Sandnes         1608
 Stavanger       1719
 Trondheim       1665
Name: Order ID, dtype: int64

### Objective 9: The big picture
Create one final grouping using `Product` as the key. Then use the following aggregations on each column to create a complete summary of the month:
* `Order ID` : count
* `Quanity Ordered` : sum & mean
* `Price Each` : median
* `Profit` : sum

In [99]:
# Total statistics for each type of item sold
statistics = df.groupby(df["Product"]).agg({ "Order ID" : "count", "Quantity Ordered" : ["sum","mean"], "Price Each" : "median", "Profit": "sum" })
statistics

                           Order ID Quantity Ordered           Price Each  \
                              count              sum      mean     median
Product
20in Monitor                    274              277  1.010949     109.99
27in 4K Gaming Monitor          381              382  1.002625     389.99
27in FHD Monitor                479              482  1.006263     149.99
34in Ultrawide Monitor          377              378  1.002653     379.99
AA Batteries (4-pack)          1317             1773  1.346241       3.84
AAA Batteries (4-pack)         1284             1927  1.500779       2.99
Apple Airpods Headphones        964              968  1.004149     150.00
Bose SoundSport Headphones      826              830  1.004843      99.99
Flatscreen TV                   291              294  1.010309     300.00
Google Phone                    342              342  1.000000     600.00
LG Dryer                         30               30  1.000000     600.00
LG Washing Machine               46               46  1.000000     600.00
Lightning Charging Cable       1329             1433  1.078254      14.95
Macbook Pro Laptop              288              288  1.000000    1700.00
ThinkPad Laptop                 249              249  1.000000     999.99
USB-C Charging Cable           1454             1594  1.096286      11.95
Vareebadd Phone                 126              126  1.000000     400.00
Wired Headphones               1175             1302  1.108085      11.99
iPhone                          397              398  1.002519     700.00

                               Profit
                                  sum
Product
20in Monitor                 30467.23
27in 4K Gaming Monitor      148976.18
27in FHD Monitor             72295.18
34in Ultrawide Monitor      143636.22
AA Batteries (4-pack)         6808.32
AAA Batteries (4-pack)        5761.73
Apple Airpods Headphones    145200.00
Bose SoundSport Headphones   82991.70
Flatscreen TV                88200.00
Google Phone                205200.00
LG Dryer                     18000.00
LG Washing Machine           27600.00
Lightning Charging Cable     21423.35
Macbook Pro Laptop          489600.00
ThinkPad Laptop             248997.51
USB-C Charging Cable         19048.30
Vareebadd Phone              50400.00
Wired Headphones             15610.98
iPhone                      278600.00