# Assignment 4.1: Getting Data
# Getting fancy with Data üìÉ and Pandas üêº
In this lesson we will be learning the basics of pandas and how to create, edit, export and import DataFrames and Series

### Objective 1: Data fundamentals
Explain the difference between Quantitative Data and Qualitative Data. Then give an example of each.

`Quantitative` data is information that can be described and identified with numbers. ie. `0`, `25`, `True`(1), `False`(0)

`Qualitative` data is information that can be described and identified by being "freeform" information, information that can't be organized in a quantity. ie. `Marius`, `Oslo`, `Happy`

### Objective 2: Are you series?
In the cell below import pandas as `pd` and create a new Series object with the following data inside, store the Series in the variable `cities`.
```
oslo
bergen
trondheim
stavanger
kristiansand
fredrikstad
sandnes
```

In [21]:
import pandas as pd

cities = pd.Series(["oslo","bergen","trondheim","stavanger","kristiansand","fredrikstad","sandnes"])

### Objective 3: Name the label
Change the internal name of our `cities` Series to "City Names" and index name to "Norwegian". Print the Series to validate the changes.

In [22]:
cities.name = "City Names"
cities.index.name = "Norwegian"

print(cities)

Norwegian
0            oslo
1          bergen
2       trondheim
3       stavanger
4    kristiansand
5     fredrikstad
6         sandnes
Name: City Names, dtype: object

### Objective 4: An aging prosperity
Below is the code to create a new Series called `ages`, run the cell and observe the output. Unfortunately the values are behind by one year. Use a Series operation to increase all the data by one year.

In [23]:
ages = pd.Series([22,24,21,20,33,19,20],name="Age")
print(ages)

ages +=1
print(ages)

0    22
1    24
2    21
3    20
4    33
5    19
6    20
Name: Age, dtype: int64
0    23
1    25
2    22
3    21
4    34
5    20
6    21
Name: Age, dtype: int64

### Objective 5: Frame it!
Create a new pandas DataFrame object called `members` with the following values in it:
```
Name				Gender		TShirt Size
Meaghan Lackey		Female		XL
Griswold Vasil		Male		XL
Fredrika Benz		Female		3XL
Madeleine Field		Female		S
Rahal Harriagn		Male		XS
Brewster Deport		Male		L
Burtie Lakenden		Female		L
```

*Tip: It might be useful to seperate each column to their own object!*

In [28]:
memberdata = {
    "Name": ["Meaghan Lackey","Griswold Vasil","Fredrika Benz","Madeleine Field","Rahal Harriagn","Brewster Deport","Burtie Lakenden"],
    "Gender": ["Female","Male","Female","Female","Male","Male","Female"],
    "TShirt Size": ["XL","XL","3XL","S","XS","L","L"]
}

members = pd.DataFrame(memberdata)
members

              Name  Gender TShirt Size
0   Meaghan Lackey  Female          XL
1   Griswold Vasil    Male          XL
2    Fredrika Benz  Female         3XL
3  Madeleine Field  Female           S
4   Rahal Harriagn    Male          XS
5  Brewster Deport    Male           L
6  Burtie Lakenden  Female           L

### Objective 6: Only by name please.
Extract all the names in our DataFrame into a new variable called `names`, print this variable and observe what object type is returned.

In [29]:
names = members["Name"]
print(names)
print(type(names))

0     Meaghan Lackey
1     Griswold Vasil
2      Fredrika Benz
3    Madeleine Field
4     Rahal Harriagn
5    Brewster Deport
6    Burtie Lakenden
Name: Name, dtype: object
<class 'pandas.core.series.Series'>

### Objective 7: Bringing it all together
Assign two new columns to our `members` DataFrame:
* Add our `cities` Series from objective 1 as `members["City"]`
* Add our corrected `ages` Series from objective 4 as `members["Age"]`

Then call `members` variable to create a pretty HTML table in our notebook.

In [30]:
members["City"] = cities
members["Age"] = ages
members

              Name  Gender TShirt Size          City  Age
0   Meaghan Lackey  Female          XL          oslo   23
1   Griswold Vasil    Male          XL        bergen   25
2    Fredrika Benz  Female         3XL     trondheim   22
3  Madeleine Field  Female           S     stavanger   21
4   Rahal Harriagn    Male          XS  kristiansand   34
5  Brewster Deport    Male           L   fredrikstad   20
6  Burtie Lakenden  Female           L       sandnes   21

### Objective 8: Export to something useful!
Write our completed `members` DataFrame to a new Excel spreadsheet called `members.xlsx`. Open the spreadsheet on your work station to ensure all the data extracted correctly! Submit `members.xlsx` as part of the assignment upload.

In [31]:
members.to_excel(r"members.xlsx")

### Objective 9: Read it and weep!
Now read in our `members.xlsx` file into a new variable called `member_data`. Print `member_data` in the cell below and explain one key difference between the `members` and `member_data` Dataframes.

In [34]:
member_data = pd.read_excel(r"members.xlsx")
print(members)
print(member_data)

              Name  Gender TShirt Size          City  Age
0   Meaghan Lackey  Female          XL          oslo   23
1   Griswold Vasil    Male          XL        bergen   25
2    Fredrika Benz  Female         3XL     trondheim   22
3  Madeleine Field  Female           S     stavanger   21
4   Rahal Harriagn    Male          XS  kristiansand   34
5  Brewster Deport    Male           L   fredrikstad   20
6  Burtie Lakenden  Female           L       sandnes   21
   Unnamed: 0             Name  Gender TShirt Size          City  Age
0           0   Meaghan Lackey  Female          XL          oslo   23
1           1   Griswold Vasil    Male          XL        bergen   25
2           2    Fredrika Benz  Female         3XL     trondheim   22
3           3  Madeleine Field  Female           S     stavanger   21
4           4   Rahal Harriagn    Male          XS  kristiansand   34
5           5  Brewster Deport    Male           L   fredrikstad   20
6           6  Burtie Lakenden  Female           L       sandnes   21

The new `member_data` variable brings the `"row index"` as a column because by default, pandas saves that as a seperate column.